:root {

  --light-gray-color: #CCCCCC;
  --medium-gray-color: #808080;
  --dark-gray-color: #333333;
  --triada-base-color: #0000FF;
  --triada-lime-color: #3BFF00;
  --triada-red-color: #FF5700;
  --triada-darkblue-color: #3939AA;
  --triada-darkgreen-color: #4F8040;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background-color: black;
}


.flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex.center {
  justify-content: center;
}

.flex.hide {
  display: none;
}