

.main {  
  max-width: 1000px;
  margin: 60px auto 40px auto ;
  padding: 25px;
  padding-right: 50px;
  display: flex;
  flex-direction: column; 
  background-color: whitesmoke;    
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

 